.station-row {
  padding: 20px 0 20px 40px;
  cursor: pointer;
  background: #f9f9f9;

  &:hover {
    background: #eaeaea;
  }

  &__title {
    span {
      font-size: 0.8em;
    }
  }

  &__status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  &__bed {
    td {
      padding: 8px 0;
      border-bottom: 1px solid #eaeaea;
    }

    &.--occupied {
      background: #ff6b81;
    }

    &.--free {
      background: #7bed9f;
    }
  }

  &.--expanded {
  }
}
