.station-row {
  padding: 20px 0 20px 40px;
  background: #f9f9f9;

  &__title {
    span {
      font-size: 0.8em;
    }
  }

  &__status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}
