.list-view {
  &__filter-container {
    display: flex;
  }

  &__table {
    user-select: none;
    table-layout: fixed;

    thead tr th:first-of-type {
      width: 46px;
      color: transparent;
    }

    &__row {
      cursor: pointer;

      td:first-of-type {
        vertical-align: middle;
      }

      &.--expanded {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}
