.list-view {
  &__search {
    margin: 15px 0;
  }

  &__table {
    tr:not(.p-datatable-row) td[colspan] {
      padding: 0;
    }
  }

  &__station-table {
    thead {
      text-align: left;
    }

    td {
      border: 1px solid #c8c8c8;
      border-top: 0;

      &:first-of-type {
        border-left: 0;
        border-right: 0;
      }

      &:nth-of-type(2) {
        border-left: 0;
      }

      &:last-of-type {
        border-right: 0;
      }
    }

    th:first-of-type {
      width: 50px;
    }
  }
}
