table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid black;

  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    :last-child {
      border-right: 0;
    }
  }

  .row-status {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 auto;

    &.--red {
      background-color: #eb4d4b;
    }
    &.--orange {
      background-color: #f0932b;
    }
    &.--green {
      background-color: #6ab04c;
    }
  }
}
